{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "es6": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-undef": [
      "warn"
    ],
    "no-console": [
      "warn"
    ],
    "react/jsx-uses-vars": [
      "error"
    ],
    "react/jsx-uses-react": [
      "error"
    ],
    "no-class-assign": "off",
    "guard-for-in": [
      "error"
    ],
    "no-empty-function": [
      "error"
    ],
    "no-unused-expressions": [
      "error"
    ],
    "no-duplicate-imports": [
      "error"
    ]
  },
  "globals": {
    "logger": true,
    "$": true
  }
}
