header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .navbar {
    background: $white;
    .navbar-nav {
      .nav-link {
        padding-left: 40px;
      }
    }
    .navbar-toggler-icon {
      border: 1px solid black;
      background: black;
    }
  }
}