header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  nav {
    background: $siteBackground;
    .navbar-toggler {
      border: 1px solid black;
      .navbar-toggler-icon {
        border: 1px solid black;
        background: black;
      }
    }
    ul.navbar-nav {
      li {
        padding: 0 20px;
        .dropdown-menu {
          padding: 0;
          border: none;
          .dropdown-item {
            @extend a;
            background: $siteBackground;
          }
        }
      }
    }
  }
}