/* -------------- GLOBALS -------------- */
$icon-font-path: '/fonts/';
$footerHeight: 100px;
$fontColor: rgb(51, 51, 51);
$siteBackground: rgb(250, 241, 216);
$boxShadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$white: rgb(255, 255, 255);
$blue: rgb(102, 133, 230);
$green: rgb(135, 237, 137);
$yellow: rgb(238 ,219 ,81);

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './fonts';
@import './header';
@import './footer';
@import './portfolio';

/* -------------- FORMATTING -------------- */
html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  padding-top: 30px;
  position: relative;
  min-height: 100%;
  height: auto !important;
  &:after {
    content: '';
    display: block;
    height: $footerHeight;
  }

  section {
    padding: 40px 20px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

/* -------------- COLORS -------------- */
/* Fix Safari's font weight issue */
h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Clear Bootstrap stuff */
//.form-control:focus,
//.form-group.has-error,
//.form-check.has-error {
//  border-color: inherit;
//  box-shadow: none;
//}

a {
  text-decoration: none;
  color: $blue;
  &:hover,
  &.active,
  &:focus {
    text-decoration: none;
    color: $fontColor;
    transition: color .3s ease-in;
  }
}

//body {
//  background: $white;
//}

body,
.container {
  background: $siteBackground;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
ul > li {
  color: $fontColor;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .container {
    max-width: 100%;

    section {
      padding: 20px 10px;
    }
  }
}
