/* -------------- GLOBALS -------------- */
$icon-font-path: '/fonts/';
$white: rgb(255, 255, 255);
$blue: rgb(102, 133, 230);
$green: rgb(135, 237, 137);
$yellow: rgb(238 ,219 ,81);
$grey: rgb(225, 225, 225);
$fontColor: rgb(51, 51, 51);
$siteBackground: rgb(250, 241, 216);
$boxShadowSm: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$boxShadowMed: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$glow: 0 0 8px $green;
$borderRadius: 0;

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './fonts';
@import './header';
@import './about';
@import './portfolio';
@import './contact';

/* -------------- FORMATTING -------------- */
html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 30px 0 0 0;
  position: relative;
  min-height: 100%;
  height: auto !important;
}

ul {
  list-style: none;
  padding: 0;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  p {
    font-size: 22px;
  }
}

/* -------------- COLORS -------------- */
/* Fix Safari's font weight issue */
h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $blue;
  transition: color .3s ease-in;
  &:hover,
  &:active {
    text-decoration: none;
    color: $green;
  }
  &:focus {
    color: $blue;
  }
}

body,
.container-fluid {
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
ul > li {
  color: $fontColor;
}

/* MEDIA QUERIES */
