.landing {
  padding: 200px 0;
  article {
    padding: 140px 0 70px 0;
  }
  .about-container {
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    .img-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 50%;
        box-shadow: $boxShadowMed;
        margin-bottom: 20px;
      }
      p,
      a {
        font-size: 20px;
      }
    }
    .about-text-box {
      p {
        font-size: 20px;
      }
    }
  }

  .portfolio {
    background: $grey;
    .portfolio-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      img:not(#badge) {
        box-shadow: $boxShadowSm;
      }
      .portfolio-item {
        padding: 40px 0;
      }
    }

  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}