.portfolio {
  padding: 120px 0;

  .header-container {
    padding: 0;
  }

  .portfolio-container {
    margin-top: 40px;

    .sidebar2017 {
      @extend .sidebar;
      border-right: 10px solid $blue;
    }

    .sidebar2016 {
      @extend .sidebar;
      border-right: 10px solid $green;
    }

    img:not(#badge) {
      box-shadow: $boxShadowSm;
    }

    .portfolio-item {
      margin-bottom: 80px;
      margin-left: 20px;

      a {
        @extend a;
        color: $blue !important;
        &:hover,
        &:active {
          color: $white !important;
        }
        &:focus {
          color: $blue !important;
        }
      }
    }
    .items2016 {
      .portfolio-item:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }
}