.portfolio {
  article {
    padding-bottom: 80px;
    &:last-of-type {
      padding-bottom: 0;
    }
    img:not(#badge) {
      box-shadow: $boxShadow;
    }
    .portfolio-sidebar {

    }
    .portfolio-main {

    }
  }
}